<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="research.dresden.htw.moderationapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/moderationicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/moderationicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main-->
        <activity android:name=".activities.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Members-->
        <activity android:name=".activities.members.MemberAdministrationActivity"
         android:label="@string/title_activity_member_administration">
        </activity>
        <activity android:name=".activities.members.AddMemberActivity"
            android:label="@string/title_activity_discussion_administration_add_new_member">
        </activity>
        <activity android:name=".activities.members.EditMemberActivity"
            android:label="@string/title_activity_member_administration_edit_member">
        </activity>

        <!-- Discussion-->
        <activity android:name=".activities.discussion.DiscussionAdministrationActivity"
            android:label="@string/title_activity_discussion_administration">
        </activity>
        <activity android:name=".activities.discussion.AddDiscussionActivity"
            android:label="@string/title_activity_discussion_administration_add_discussion">
        </activity>
        <activity android:name=".activities.discussion.AddMemberAdministrationActivity"
            android:label="@string/title_activity_discussion_administration_add_member_administration">
        </activity>
        <activity android:name=".activities.discussion.AddNewMemberActivity"
            android:label="@string/title_activity_discussion_administration_add_new_member">
        </activity>
        <activity android:name=".activities.discussion.AddExsistingMemberActivity"
            android:label="@string/title_activity_discussion_administration_add_existing_member">
        </activity>
        <activity android:name=".activities.discussion.PlaceAssignmentActivity"
            android:label="@string/title_activity_discussion_administration_place_assignment">
        </activity>

        <!-- Settings-->
        <activity android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <!-- Emulator-->
        <activity android:name=".activities.emulator.EmulatorActivity"
            android:label="@string/title_activity_emulator" >
        </activity>



    </application>

</manifest>